/* /Shared/AppLayout.razor.rz.scp.css */
/*Grid*/
.wrapper[b-tw0msf2c6r] {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 6px;
    height: 100vh;
    grid-template-areas:
        "nav header"
        "nav article"
        "nav footer";
}

.wrapper > header[b-tw0msf2c6r] {
    border: 1px solid darkgray;
}

.wrapper > footer[b-tw0msf2c6r] {
    border: 1px solid darkgray;
}

.wrapper > article[b-tw0msf2c6r] {
    border: 1px solid darkgray;
}

.wrapper > nav[b-tw0msf2c6r] {
    border: 1px solid darkgray;
}

.wrapper > div[b-tw0msf2c6r] {
    border: 1px solid darkgray;
}

#pageHeader[b-tw0msf2c6r] {
    grid-area: header;
    display: inline-flex;
    align-items: center;
}

#pageFooter[b-tw0msf2c6r] {
    grid-area: footer;
}

#mainArticle[b-tw0msf2c6r] {
    grid-area: article;
}

#siteAds[b-tw0msf2c6r] {
    grid-area: ads;
}

#mainNav[b-tw0msf2c6r] {
    grid-area: nav;
    padding: 12px;
}
/*end Grid*/

/*Sidebar*/
.e-sidebar[b-tw0msf2c6r] {
    background-color: steelblue;
}

a[b-tw0msf2c6r] {
    color: white;
    font-size: 1.2em
}

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hwkr4pikgs] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-hwkr4pikgs] {
    flex: 1;
}

.sidebar[b-hwkr4pikgs] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hwkr4pikgs] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hwkr4pikgs]  a, .top-row .btn-link[b-hwkr4pikgs] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-hwkr4pikgs] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hwkr4pikgs] {
        display: none;
    }

    .top-row.auth[b-hwkr4pikgs] {
        justify-content: space-between;
    }

    .top-row a[b-hwkr4pikgs], .top-row .btn-link[b-hwkr4pikgs] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hwkr4pikgs] {
        flex-direction: row;
    }

    .sidebar[b-hwkr4pikgs] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hwkr4pikgs] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-hwkr4pikgs] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b9rbumammy] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b9rbumammy] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b9rbumammy] {
    font-size: 1.1rem;
}

.oi[b-b9rbumammy] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b9rbumammy] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b9rbumammy] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b9rbumammy] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b9rbumammy]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b9rbumammy]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b9rbumammy]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b9rbumammy] {
        display: none;
    }

    .collapse[b-b9rbumammy] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
