@using System.Threading
@using System.Drawing;
@using Syncfusion.Blazor.Buttons

@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private int currentCount = 0;

    string primaryColor;
    string acceptColor;

    protected override void OnInitialized()

    {

#if DEBUG
        //Thread.Sleep(6000);
#endif
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
