@page "/"

    <div style="height:100vh">
        <img src="pwa-300x140.png">
        <h4>
            DEFINITION OF PROGRESSIVE WEB APP (PWA)
        </h4>
        <hr />
        <h4>
            Mobile phone apps used to have advantages over traditional web pages. The most important are:
        </h4>
        <ul>
            <li>Fast and reliable performance</li>
            <li>Work offline</li>
            <li>Access to the phone's sensors</li>
            <li>Support for push notifications</li>
            <li>An icon on the phone‘s home screen</li>
            <li>Detectability and availability in app stores</li>
        </ul>

        <p>
            PWAs are browser based web applications. By using the latest browser features, they implement native app-typical capabilities and features, including all listed above. Running in a separate browser window without address bar, they are visually and functionally near-indistinguishable to apps. There is also desktop support for Windows and Mac.

            ‘Progressive‘ means: A PWA must be designed to maintain basic functionality even if run offline and/or on a browser that does not support some features.

            PWAs depend on browser support. De facto driver is Google since ~2016, Microsoft and Firefox are following, but Apple is notably slow to support PWAs. Since 2018, Safari (the mandatory rendering engine for all browsers on iOS) supports a key feature needed for PWAs, ‘Service Worker‘ (for caching), but still lacks others.

            PWAs don’t install in the classical sense. An icon is added to the screen and advanced browser caching is used. The browser provides a secure execution environment to which PWAs are ‘installed’.
        </p>
        <p>
            <a href="https://www.simicart.com/blog/what-is-progressive-web-app/" target="_blank" style="color:blue">Read more ...</a>
        </p>
        <p>
            <a href="https://www.europeanbusinessreview.com/how-progressive-web-app-will-gain-more-demands-in-the-future/" target="_blank" style="color:blue">and more ...</a>
        </p>
        <p style="margin-bottom:50px">
            <a href="https://whatpwacando.today/" target="_blank" style="color:blue">and more ...</a>
        </p>
    </div>
