@page "/mappage1"
@using Syncfusion.Blazor.Maps
<h3>MapPage1</h3>
<div class="container-fluid shadow-sm navbar-brand" style="padding: 20px; border: 2px solid #b56c00;">
    <SfMaps Height="70vh">
        <MapsTitleSettings Text="Headquarters of the United Nations" />
        <MapsCenterPosition Latitude="@CurLatitude" Longitude="@CurLongitude" />
        <MapsZoomSettings Enable="false" ZoomFactor="10" />
        <MapsLayers>
            <MapsLayer LayerType="ShapeLayerType.OSM" TValue="string">
                <MapsMarkerSettings>
                    <MapsMarker Visible="true" DataSource="@markers" TValue="MarkerData" Shape="MarkerType.Balloon" Height="40" Width="40" Fill="crimson">
                        <ChildContent>
                            <MapsMarkerTooltipSettings Visible="true" ValuePath="Name" />
                        </ChildContent>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
</div>
<style>
    .markerTemplate {
        height: 30px;
        width: 20px;
        display: block;
        margin: auto;
        font-size: 14px;
        pointer-events: none;
    }
</style>
@code {

    double CurLatitude = 40.7209;
    double CurLongitude = -73.9680;

    List<MarkerData> markers;

    protected override void OnInitialized()
    {
        markers = new List<MarkerData>()
            {
                new MarkerData(){Name = "A1", Latitude = 40, Longitude = -73},
                new MarkerData(){Name = "A2", Latitude = 49, Longitude = -71}
            };
    }


    public class MarkerData
    {
        public string Name { get; set; }
        public double Latitude { get; set; }
        public double Longitude { get; set; }
    }
}
