/*Grid*/
.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 60px 1fr 60px;
    grid-gap: 6px;
    height: 100vh;
    grid-template-areas:
        "nav header"
        "nav article"
        "nav footer";
}

.wrapper > header {
    border: 1px solid darkgray;
}

.wrapper > footer {
    border: 1px solid darkgray;
}

.wrapper > article {
    border: 1px solid darkgray;
}

.wrapper > nav {
    border: 1px solid darkgray;
}

.wrapper > div {
    border: 1px solid darkgray;
}

#pageHeader {
    grid-area: header;
    display: inline-flex;
    align-items: center;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#siteAds {
    grid-area: ads;
}

#mainNav {
    grid-area: nav;
    padding: 12px;
}
/*end Grid*/

/*Sidebar*/
.e-sidebar {
    background-color: steelblue;
}

a {
    color: white;
    font-size: 1.2em
}

